@value cWhite, cBody, cButton, cGreen, cSkyblue, cBlack, cPurple from '../../common/color.css';
@value fTitle, fBody from '../../common/font.css';

.list {
  font-family: fBody;
  display: flex;
  width: 31.5%;
  text-align: start;
  flex-direction: column;
  background: cWhite;
  border-radius: 0.2em;
  outline: 1px solid cBlack;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 5px 15px;
  transition: all 0.15s ease-in;
}

.list:hover {
  outline: 4px solid cGreen;
  border-radius: 0;
}

.emotion {
  text-align: center;
  font-size: 1em;
  padding-top: 0.5em;
}
.list img {
  width: 100%;
}

.content {
text-align: center;
padding: 0.5em 0;
}
.content h2 {
  color: cBlack;
  font-size: 1.5em;
}
.date {
  color: cPurple;
  font-size: 0.7em;
  margin: 0.5em 0;
}
