@value cWhite, cBody, cTitle, cButton from '../../common/color.css';

.list {
  display: flex;
  text-align: start;
  flex-direction: column;
  width: 32%;
  background: cWhite;
  padding: 2em 1em 1.5em;
  border-radius: 0.2em;
}

.list h2 {
  color: cTitle;
  font-size: 1.8em;
}

.date {
  font-size: 0.9em;
  margin: 0.5em 0;
}

.list img {
  border-radius: 0.3em;
}

.button {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
}

.button button {
  all: unset;
  color: cButton;
  opacity: 0.5;
}

.button button:hover {
  opacity: 1;
}