@value cWhite, cBody, cButton from '../../common/color.css';

.blog {
  flex: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: cBody;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: cWhite;
}
.header div {
  display: flex;
} 
.header button {
  padding: 0 1em;
  margin-left: 1em;
}

.header button:hover {
  transform: scale(1.1);
}
.wrap {
  position: relative;
  padding-top: 1.5em;
}
.blog_list {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 1.5rem;
}
