@value cWhite, cBody, cButton, cGreen, cSkyblue, cBlack, cPurple from '../../common/color.css';
@value fTitle, fBody from '../../common/font.css';

.blog {
  flex: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 3.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fTitle;
}

.header {
  position: fixed;
  top: 0.5em;
  width: 98%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  background: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.05) 0px 8px 16px -8px;
  z-index: 999;
  border: 1.5px solid cBlack;
}
.header div {
  display: flex;
}
.header button {
  all: unset;
  color: cBlack;
  margin-left: 1.5em;
}

.header button:hover {
  transform: scale(1.1);
  color: cGreen;
}
.wrap {
  position: relative;
  padding-top: 1.5em;
}
.blog_list {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 1.5rem;
}
